/* main stylesheet for GA Chicago Library */
.logo-image {
    width: 17%;
    float: left;
}
a, a:hover, a:visited, a:active {
    color: #d9534f;
}

.not-visible {
    display: none;
    visibility: hidden;
}