<div class="container">
    <img  src="style/general-assembly-logo.png" alt="General Assembly">
    <h2>Chicago Library</h2>
</div> <!-- /container -->

<div class="container" id="app-library-list">
  <h2>Your book has been checked out!</h2>
  <p>Please ask a member of GA Chicago staff to retreive the book for you. To turn your book back in, re-open <a href="/">this application!</a></p>
</div>
