<div class="container">
    <img  src="style/general-assembly-logo.png" alt="General Assembly">
    <h2>Chicago Library</h2>
</div> <!-- /container -->

<div class="container" id="app-library-list">
  <h2>FAQ</h2>
  <p>NYI</p>
</div>
