<hgroup>
    <h1>Welcome to the GA Chicago Library!</h1>
    <h2>Please log-in using Github</h2>
</hgroup>

<section id="authentication"></section>

<aside>
  <h3>Don't have a Github account?</h3>
</aside>