{{!--book-table-row-available --}}
<td>{{title}}</td>
<td>{{author}}</td>
<td></td>
<td><button id="app-book-dropoff" class="btn-lg btn-success book-checkout" data-id="{{id}}">Check Out</button></td>
{{!--/book-table-row-checked --}}
