<h2>Return your book?</h2>
<p>It looks like you have checked out <strong>{{title}}</strong>. Would you like to return it?</p>
<p><button id='app-return-book' class="btn-lg btn-danger" data-id="{{id}}">Return Book</button></p>
