
{{!-- user --}}
<div class="page-header">
    <h1>Welcome, {{name}}!</h1>
    <small>You're logged in as <a href='https://github.com/{{username}}' target='_blank'>{{username}}</a> via Github.</small>
</div>
{{!-- /user --}}
